.display {
    grid-column: span 4;            /* coloquei para ocupar 4 linhas o display */
    background-color: #0004;

    display: flex;
    justify-content: flex-end;      /* alinhar ao lado direito */
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}